@model IndignaFwk.Web.FrontOffice.Models.RegistroModel

@{
    ViewBag.Title = "[Nombre de grupo] - Login";
    Layout = "~/Content/layout_3/layout.cshtml";
}

<h3>Usuario registrado correctamente</h3>

<fieldset>
    <legend>Usuario Registrado</legend>
    
    <br/>
    
    <div class="display-label"><b>Nombre:</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <br/>

    <div class="display-label"><b>Descripción:</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <br/>

    <div class="display-label"><b>Correo:</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Volver al Inicio","Index", "Home")
</p>
