<div class="listaUsuariosChat">
    <ul>
        <li>            
            <div class="nombreUsuarioChat">                
                <a href="#">Nombre completo</a>
            </div>
        </li>
        <li>            
            <div class="nombreUsuarioChat">                
                <a href="#">Nombre completo</a>
            </div>
        </li>
        <li>            
            <div class="nombreUsuarioChat">                
                <a href="#">Nombre completo</a>
            </div>
        </li>
        <li>            
            <div class="nombreUsuarioChat">                
                <a href="#">Nombre completo</a>
            </div>
        </li>
    </ul>
</div>
