/* Estilos estructura */

body
{
    font-size: 12px;
    font-family: Helvetica, Sans-Serif !important;
    color: #DBDBD5;
    text-align: justify;
    margin: 0px;
    background: url('../images/tecnologia/bg_body.png') repeat-x #006ADC;    
}

input, select, textarea
{
    border: 1px #000000 solid;
    font-family: Helvetica, Sans-Serif !important;
}

#divMapaFullScreen
{             
    top: 0px; 
    bottom: 34px;
    width: 100%;
    z-index: 2000;
}

#wrapper 
{
	width: 95%;
	margin: 0px auto;
	padding-bottom: 20px;
	border-top: 0px;
	border-bottom: 0px; 	
    background-color: #1D1D1D;
}

#header
{
    width: 98%;
    margin: 0 auto;  
    height: 90px;
    line-height: 90px;  
    background: url('../images/tecnologia/header.png') no-repeat #006ADC;     
}

#logoHeader
{
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    float: left;
    color: #FFFFFF;
}

#login
{
    float: right;  
    position: relative;
    top: 25px;  
}

#login ul
{
    list-style: none;
    margin: 0px;
}

#login li
{
    float: left;
    margin: 0px 3px;
    background: url('../images/tecnologia/ico_vineta.png') no-repeat left 50%;
}

#login .usuarioAutenticado
{
    float: left;
    margin: 0px 3px;
    background-image: none;
    padding-right: 15px;    
    font-weight: bold;
    font-style: oblique;
    font-size: 13px;    
    color: #FFFFFF;
}

#login a 
{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	padding: 0px 15px;	
}

#login a:hover
{
    text-decoration: underline;
}

#menu
{
    position: fixed;
    width: 100%;
    background-color: #545454;
    bottom: 0px;
    left: 0px;
    right: 0px;
    line-height: 30px;
    border-top: 3px ridge #006ADC;
    z-index: 900;
}

#menu ul 
{
	margin: 0px;
	list-style: none;
	padding: 0px;
}

#menu li 
{
    float: left;	
}

#menu a 
{
	text-decoration: none;
	color: #DBDBD5;
	font-weight: bold;
	font-size: 13px;
	padding: 0px 15px;	
}

#menu a:hover
{
    text-decoration: underline;
}

#menu .selected
{
    background-color: #006ADC;
    border-color: #006ADC;
}

#page 
{
	width: 98%;
    margin: 0 auto;
	padding-bottom: 20px;
}

#content
{
    margin-top: 10px;
    width: 100%;  
}

#footer
{
    width: 920px;
    background-color: #515151;
    margin: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top: 0px;
	border-left: 3px ridge #006ADC;
	border-right: 3px ridge #006ADC;
	border-bottom: 3px ridge #006ADC;
	border-radius: 0px 0px 10px 10px;
}

#footer p
{
    margin: 0px;
}

#mapaConvocatorias
{
    margin: 20px 10px;
    height: 420px;
}

#mapaConvocatorias .mapa
{
    float: left;
    width: 62%;
    height: 400px;
}

#mapaConvocatorias .detalleConvocatoria
{
    float: right;
    width: 35%;
}

/* Estilos errores MVC */
.validation-summary-errors
{
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    background-color: #F96D51;
    border: 1px solid #A62106;
    border-radius: 5px 5px 5px 5px;
    color: #1D1D1D;
}

.validation-summary-errors ul
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.validation-summary-errors span
{
    padding-left: 12px;
}

.input-validation-error
{
    background-color: #FFEEEE;
}

.field-validation-error
{
    display: block;
    color: #F96D51;
}

/* Estilos clases generales */
.alertaNotificacionesPendientes
{
    font-weight: bold;
    color: #FFFFFF;
    background-color: #EB3B0F;
    position: relative;
    top: -12px;
    right: 84px;
    padding: 1px 3px;  
    border: 1px outset #000000;
    border-radius: 5px 5px 5px 5px;
}

.fieldLabel
{
    font-style: italic;
    text-align: left;
    vertical-align: top;
}

.fieldValue input[type="text"], 
.fieldValue textarea,
.fieldValue input[type="password"],
.fieldValue select
{
    width: 70%;
}

.fieldValue
{
    font-weight: bold;
    font-style: normal;
}

.fieldIcono
{
    width: 30px;
    text-align: center;
    padding-left: 0px !important;
}

.fieldCheckbox
{
    width: 35px;
    text-align: center;
    padding-left: 0px !important;
}

.areaFormulario
{
    margin-left: 15px;
    margin-top: 10px;
}

.areaFormulario table
{
    width: 100%
}

.areaFormulario tr
{
    vertical-align: top;
}

.areaFormulario td
{
    width: 50%;
}

.areaBotones
{
    background-color: #636363;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
}

.areaBotones ul
{
    list-style: none;
    margin: 0px;
    float: right;
}

.areaBotones li
{
    float: left;
}


.boton 
{
    display: block;
    margin: 0px 5px;
}

.boton a
{
    padding: 4px 15px;
    text-decoration: none;
    background-color: #006ADC;
    border: 1px solid #212121;
    color: #1D1D1D;
    font-size: 13px;    
    font-weight: bold;    
    border-radius: 3px 3px 3px 3px;
}

.boton a:hover
{
    text-decoration: underline;
    border: 1px outset #006ADC;
    background-color: #3795F9;
}

.botonPressed
{
    display: block;
    margin: 0px 5px;
}

.botonPressed a
{
    padding: 4px 15px;
    text-decoration: none;
    background-color: #5C7A40;
    border: 2px inset #7BA331;
    color: #1D1D1D;
    font-size: 13px;    
    font-weight: bold;    
    border-radius: 7px 7px 7px 7px;
    cursor: default;
}

.wrapperDataTable
{
    max-height: 400px;
    overflow: auto;
    padding-top: 5px;
    width: 100%;
}

.dataTable
{
    width: 100%;
    border: 0px;
}

.dataTable thead tr
{
    background-color: #006ADC;    
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: #1D1D1D;
}

.dataTable thead tr th
{
    padding: 5px 0px;
}

.dataTable tbody tr td
{
    padding-left: 5px;
}

.odd
{
    background-color: #898989;
}

.even
{
    background-color: #515151;
}

.notificacionNoLeida
{
    font-weight: bold;
    background-color: #C9786F;
    color: #1A1A1A;
}

.detalleGrupo .imagenGrupo
{
    float: left;
    padding: 5px 15px 5px 5px;
}


.listaContenidos
{
    width: 100%;
}

.itemContenido
{
    float: left;
    background-color: #515151;
    display: block;
    border: 1px solid #006ADC;
    width: 100%;
    margin: 10px 0px;
    height: 507px;
}

.creadorContenido
{
    width: 100%;
    float: left;
    padding: 10px;
    vertical-align: top;
}

.creadorContenido img
{
    float: left;
    padding-right: 10px;
    width: 70px;
    height: 70px;
}

.creadorContenido hr
{
    border: 1px solid #616161;
}

.creadorContenido span
{
    float: left;
    vertical-align: top;
}

.creadorContenido span a
{
    color: #DBDBD5;
    text-decoration: none;
    font-weight: bold;
}

.creadorContenido span a:hover
{
    text-decoration: underline;
}

.creadorContenido b
{
    vertical-align: top;
}

.contenido
{
    padding: 5px 10px;
    float: left;
    width: 60%;
    height: 400px;
}

.detalleContenido
{
    float: left;
    display: inline;
    width: 36%;
}

.mensajeListadoVacio
{
    font-weight: bold;
    font-style: oblique;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    padding-left: 15px;
}

.mensajeCargandoChat
{
    font-weight: bold;
    font-style: oblique;
    padding-top: 10px;
    padding-left: 10px;
}

.listaUsuariosChat
{
    background-color: #515151;
    border: 1px solid #006ADC;
    overflow: auto;
    width: 25%;
    float: left;
    min-height: 450px;
    max-height: 450px;
}

.listaUsuariosChat ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.listaUsuariosChat li
{    
    overflow: hidden;
    padding-left: 0;
    white-space: nowrap;    
}

.nombreUsuarioChat
{
    display: inline;
    line-height: 39px;
}

.nombreUsuarioChat a
{
    text-decoration: none;
    color: #DBDBD5;  
    border-bottom: 1px solid #686868;  
    padding: 12px 100% 11px 25px;
    text-align: left;    
}

.usuarioOnline
{
    background: url('../../shared/images/ico_online.png') no-repeat 2% 50%;
}

.usuarioOnline a:hover
{
    background: url('../../shared/images/ico_online.png') no-repeat 2% 50%;
    background-color: #90C4FC;    
    color: #1D1D1D;
}

.usuarioOffline
{
    background: url('../../shared/images/ico_offline.png') no-repeat 2% 50%;
}

.usuarioOffline a:hover
{
    background: url('../../shared/images/ico_offline.png') no-repeat 2% 50%;
    background-color: #90C4FC;    
    color: #1D1D1D;
}

.wrapperConversacionChat
{
    margin-left: 5px;
    border: 1px solid #006ADC;
    background-color: #515151;
    width: 74%;
    float: right;
    min-height: 350px;
    max-height: 350px;
}

.wrapperConversacionChat .datosUsuarioConversacion
{
    padding-left: 10px;
    padding-top: 8px;
    font-size: 13px;
    font-weight: bold;    
}

.wrapperConversacionChat .conversacionPanel
{
    margin-left: 10px;
    margin-top: 5px;
    height: 310px;
    width: 98%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 13px;
    word-wrap: break-word;
    text-overflow:ellipsis;
}

.wrapperConversacionChat .conversacionPanel b
{
    float: left;
    padding-right: 4px;
}

.wrapperConversacionChat .conversacionPanel span
{
    float: left;
    width: 95%;
}

.wrapperMensajeChat
{
    margin-top: 12px;
    margin-left: 10px;
    border: 1px solid #006ADC;
    background-color: #515151;
    width: 74%;
    float: right;
    min-height: 85px;
    max-height: 85px;
    line-height: 80px;
 }

.wrapperMensajeChat .boton
{
    float: right;
}

.wrapperMensajeChat textarea
{
    margin-left: 10px;
    margin-top: 5px;
    height: 70px;
    width: 89%;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.previewContenido iframe
{
    width: 444px;
}