@{
    ViewBag.Title = "Indignados - [Nombre del grupo]";
    Layout = "~/Content/layout_1/layout.cshtml";
}

<h2>Ha ocurrido un error, a continuacion se detalla el mismo:</h2> <br />
<table>
    <tr>
        <td>Tipo de error</td>
        <td>[TIPO]</td>
    </tr>
    <tr>
        <td>Mensaje del error</td>
        <td>[MENSAJE DE ERROR]</td>
    </tr>
</table>