@{
    ViewBag.Title = "[Nombre del grupo] - Inicio";
    Layout = "~/Content/layout_1/layout.cshtml";
}

<h2>Inicio</h2>

<div id="listaConvocatorias">
    <div class="areaBotones">
        <ul>                
            <li>            
                <div class="boton" id="botonVerFiltro">
                    <a href="javascript:mostrarOcultarFiltroConvocatorias(1);">Ver filtro</a>
                </div>
                <div class="boton" id="botonOcultarFiltro" style="display: none;">
                    <a href="javascript:mostrarOcultarFiltroConvocatorias(0);">Ocultar filtro</a>
                </div>
            </li>
            <li>
                <div class="boton">
                    <a href="javascript:void(0);">Crear convocatoria</a>
                </div>
            </li>
        </ul>
    </div>
    @RenderPage("~/Views/Home/FiltroConvocatorias.cshtml")
        
    <table class="dataTable">
        <thead>
            <tr>            
                <th>Título</th>
                <th>Descripción</th>
                <th>Tematica</th>
                <th>Quorum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>        
            <tr class="odd">
                <td>
                    Titulo 1
                </td>
                <td>
                    Descripción 1
                </td>
                <td>
                    Tematica 1
                </td>     
                <td>
                    Quorum 1
                </td>  
                <td class="fieldIcono">
                    <a href="#" title="Posicionar convocatoria">
                        <img src="@Url.Content("~/Content/layout_1/images/ico_posMapa.png")" alt="Ubicar en mapa" />
                    </a>
                </td>       
            </tr>
            <tr class="even">
                <td>
                    Titulo 2
                </td>
                <td>
                    Descripción 2
                </td>
                <td>
                    Tematica 2
                </td>   
                <td>
                    Quorum 2
                </td>           
                <td class="fieldIcono">
                    <a href="#" title="Posicionar convocatoria">
                        <img src="@Url.Content("~/Content/layout_1/images/ico_posMapa.png")" alt="Ubicar en mapa" />
                    </a>
                </td>   
            </tr>
            <tr class="odd">
                <td>
                    Titulo 3
                </td>
                <td>
                    Descripción 3
                </td>
                <td>
                    Tematica 3
                </td>   
                <td>
                    Quorum 3
                </td>    
                <td class="fieldIcono">
                    <a href="#" title="Posicionar convocatoria">
                        <img src="@Url.Content("~/Content/layout_1/images/ico_posMapa.png")" alt="Ubicar en mapa" />
                    </a>
                </td>        
            </tr>
        </tbody>
    </table>
</div>

<div id="mapaConvocatorias">    
    <iframe width="300" height="200"
        src="http://maps.google.com.uy/?ie=UTF8&amp;t=m&amp;
                ll=-34.902827,-56.170349&amp;spn=0.098548,0.146255&amp;
                z=12&amp;output=embed">            
    </iframe>
</div>



