@RenderPage(Url.Content("~/Views/Chat/ListaUsuariosChat.cshtml"))

<div id="divContainerChat">
</div>

<script type="text/javascript">

    var arrayConversaciones = [];
    function iniciarConversacion(idUsuario) 
    {
        // verifico si existe la conversacion antes de crearla
        var conversacionUsuario = obtenerConversacionUsuario(idUsuario);

        if (conversacionUsuario) {
            $("#txt_ingresoMsj_" + idUsuario).focus();
        }
        else {
            var dialogConversacion = $("#dialogConversacion_" + idUsuario);

            $.ajax({
                url: '@Url.Action("IniciarConversacionEmbed", "Chat")' + "?idUsuario=" + idUsuario,
                dataType: "html",
                method: "POST",
                success: function (data, textStatus, jqXHR) {
                    if (data != null) {
                        $("#divContainerChat").append(data);

                        dialogConversacion = $("#dialogConversacion_" + idUsuario);

                        dialogConversacion.dialog({
                            autoOpen: false,
                            resizable: false,
                            closeOnEscape: false,
                            draggable: false,
                            close: function (event, ui) {
                                eliminarConversacion(idUsuario);
                                reacomodarConversaciones();
                            }
                        });

                        idInterval = setInterval('refrescarConversacion(' + idUsuario + ')', 5000);

                        arrayConversaciones.push({
                            idUsuario: idUsuario,
                            dialogConversacion: dialogConversacion,
                            idInterval: idInterval
                        });

                        reacomodarConversaciones();
                    }
                }
            });
        }
    }

    function reacomodarConversaciones() {
        for (i = 0; i < arrayConversaciones.length; i++) {
            var dialogConversacion = arrayConversaciones[i].dialogConversacion;

            var rightDialog = "0px";
            if (i == 0) {
                rightDialog = 220 + "px";
            }
            else if (i >= 2) {
                rightDialog = 220 + (308 * 2) + "px";
            }
            else {
                rightDialog = 220 + (308 * i) + "px";
            }

            dialogConversacion.parent().css({ position: "fixed", bottom: "0px", right: rightDialog });
            dialogConversacion.dialog("open");
            dialogConversacion.parent()[0].style.removeProperty("top");
            dialogConversacion.parent()[0].style.removeProperty("left");
        }
    }

    function eliminarConversacion(idUsuario) {
        var conversacionUsuario = obtenerConversacionUsuario(idUsuario);

        if (conversacionUsuario) {
            clearInterval(conversacionUsuario.idInterval);

            var newArray = [];
            for (i = 0; i < arrayConversaciones.length; i++) {
                if (arrayConversaciones[i].idUsuario != idUsuario) {
                    newArray.push(arrayConversaciones[i]);
                }
            }
            arrayConversaciones = newArray;
        }
    }

    function obtenerConversacionUsuario(idUsuario) {
        for (i = 0; i < arrayConversaciones.length; i++) {
            if (arrayConversaciones[i].idUsuario == idUsuario) {
                return arrayConversaciones[i];
            }
        }
    }
    
    function enviarMensaje(idUsuario)
    {
        var ingresoMsj = $("#txt_ingresoMsj_" + idUsuario)

        if (ingresoMsj.val() == null || ingresoMsj.val() == '') 
        {
            alert("Debe ingresar el mensaje a enviar");
        }
        else 
        {
            $.ajax({
                url: '@Url.Action("EnviarMensaje", "Chat")' + "?idUsuario=" + idUsuario + "&msj=" + ingresoMsj.val(),
                dataType: "html",
                method: "POST",
                success: function (data, textStatus, jqXHR) {
                    if (data != null) {
                        $("#txt_conversacion_" + idUsuario).append(data);
                        $("#txt_ingresoMsj_" + idUsuario).val("");
                        $("#txt_ingresoMsj_" + idUsuario).focus();
                    }
                }
            });
        }
    }

    // Utilizada por el set interval
    function refrescarConversacion(idUsuario) {
        $.ajax({
            url: '@Url.Action("RefrescarConversacion", "Chat")' + "?idUsuario=" + idUsuario,
            dataType: "html",
            method: "POST",
            success: function (data, textStatus, jqXHR) {
                if (data != null) {
                    $("#txt_conversacion_" + idUsuario).html(data);
                }
            }
        });
    }

</script>