@{
    ViewBag.Title = "[Nombre del grupo] - Chat";
    Layout = "~/Content/layout_2/layout.cshtml";
}

<h2>Chat del grupo</h2>

@RenderPage(Url.Content("~/Views/Chat/ListaUsuariosChat.cshtml"))


<div class="conversacionChat">  
    <textarea readonly="readonly"></textarea>
</div>

<div class="mensajeChat">
   <textarea></textarea>
    <div class="boton">
        <a href="#">Enviar</a>
    </div>
</div>