@{
    ViewBag.Title = "[Nombre del grupo] - Chat";
    Layout = "~/Content/layout_1/layout.cshtml";
}

<h2>Chat del grupo</h2>

<div class="listaUsuariosChat">
    <ul>
        <li>            
            <div class="nombreUsuarioChat">                
                <a href="#">> Nombre completo 1</a>
            </div>
        </li>
        <li>            
            <div class="nombreUsuarioChat">                
                <a href="#">> Nombre completo 1</a>
            </div>
        </li>
        <li>            
            <div class="nombreUsuarioChat">                
                <a href="#">> Nombre completo 1</a>
            </div>
        </li>
        <li>            
            <div class="nombreUsuarioChat">                
                <a href="#">> Nombre completo 1</a>
            </div>
        </li>
    </ul>
</div>

<div class="conversacionChat">  
    <textarea readonly="readonly"></textarea>
</div>

<div class="mensajeChat">
   <textarea></textarea>
    <div class="boton">
        <a href="#">Enviar</a>
    </div>
</div>